<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="tr" class="com.shubham.Trinagle" />
    <bean id="cr" class="com.shubham.Circle" />
    <bean id="cy" class="com.shubham.Cylinder" />
    
    <bean id="r" class="com.shubham.Runner">
    
   		<property name="d" ref="cr"/> 
   		
   		
   		
 
  <!-- <constructor-arg ref="tr"/> -->
  
    </bean>
    
    
       

    

</beans>
